@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eurostile-Reg";
  src: url("./modules/assets/Fonts/Eurostile-Reg.otf");
}
@font-face {
  font-family: "Eurostile-Hea";
  src: url("./modules/assets/Fonts/Eurostile-Hea.otf");
}
@font-face {
  font-family: "Eurostile-Bol";
  src: url("./modules/assets/Fonts/Eurostile-Bol.otf");
}

body {
  margin: 0;
  max-width: 1220px;
  margin: 0 auto;
  background-color: black;
  color: #fff;
  font-size: 14px;
  font-family: "Eurostile-Reg",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
